
@{
    ViewBag.Title = "Reports";
}
<style>
    /* Add some basic CSS to style the wrapper div */
    #iframe-container {
        width: 100%; /* Set the initial width to 100% of the page */
    }
</style>
<h2>Reports</h2>
<br />
<div id="iframe-container">
    <iframe title="IOT" width="100%" height="790px" src="https://app.powerbi.com/reportEmbed?reportId=b8515c88-601a-4ea2-bfdc-6e98b04101a1&autoAuth=true&ctid=4b1930d1-12f4-40b5-b48c-bd86117429d8" frameborder="0" allowFullScreen="true"></iframe>
</div>

@section scripts
{
    <script>
        // Get a reference to the iframe and the container div
        const iframe = document.querySelector('iframe');
        const container = document.getElementById('iframe-container');

        // Function to update the iframe width based on the container width
        function updateIframeWidth() {
            const containerWidth = container.clientWidth;
            iframe.width = containerWidth;
        }

        // Call the function initially and add an event listener for window resizing
        updateIframeWidth();
        window.addEventListener('resize', updateIframeWidth);
    </script>
    }