


.wrapper {
   flex-grow: 1;
   padding: 20px;
}

.content {
    padding-bottom: 50% !important;
    /* Other content styles */
}

.footer {
    text-align: center;
    padding: 10px 0;
}

.rainbow-text {
    background-image: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
.heart {
    font-size: 24px;
    color: red;
}


